{% extends "base.html" %}

{% block title %}Create Task{% endblock %}

{% block content %}
<div class="w-screen h-screen flex items-center justify-center bg-gray-100">
  <div class="flex flex-col">
    <form method="post" class="space-y-5 p-6 bg-white rounded-lg shadow-md max-w-lg">
      {% csrf_token %}
      <h2 class="font-black w-full text-center text-xl">
        Create a New Task for {{ project.project_name }}
      </h2>
      <div class="space-y-5">
        <!-- Task Name Field -->
        <div>
          {{ form.task_name }}
          {% if form.task_name.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.task_name.errors|join:", " }}</p>
          {% endif %}
        </div>

        <!-- Task Description Field -->
        <div>
          {{ form.task_description }}
          {% if form.task_description.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.task_description.errors|join:", " }}</p>
          {% endif %}
        </div>

        <!-- Task Status Field -->
        <div>
          <p>Task status: </p>
          {{ form.task_status }}
          {% if form.task_status.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.task_status.errors|join:", " }}</p>
          {% endif %}
        </div>

        <!-- Task Priority Field -->
        <div>
          <p>Task priority: </p>
          {{ form.task_priority }}
          {% if form.task_priority.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.task_priority.errors|join:", " }}</p>
          {% endif %}
        </div>

        <!-- Task Deadline Field -->
        <div>
          <p>Tasks deadline:</p>
          {{ form.task_deadline }}
          <i>* Can't be after project's deadline</i>
          {% if form.task_deadline.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.task_deadline.errors|join:", " }}</p>
          {% endif %}
        </div>
      </div>

      <div class="space-y-2">
        <!-- Submit Button -->
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg w-full"
        >
          Create Task
        </button>

        <!-- Back to Project Link -->
        <p class="text-center text-gray-600 text-sm">
          Changed your mind?
          <a
            href="{% url 'myapp:project_details' project.project_id %}"
            class="text-blue-500 hover:underline"
          >
            Go back to {{ project.project_name }}
          </a>
        </p>
      </div>
    </form>

    <!-- General Messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="mt-4 text-center text-sm text-gray-800">{{ message }}</div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
