{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="min-h-full w-full bg-gray-100">
  <!-- Top-left logo and Top-right navigation -->
  <div class="flex justify-between items-center p-8">
    <!-- Top-left logo -->
    <a href="{% url 'myapp:home' %}" class="flex items-center">
      <img src="{% static 'images/FF.png' %}" alt="FreelanceFlow Logo" class="h-10 w-auto">
      <span class="ml-2 text-xl font-bold text-gray-800">FreelanceFlow</span>
    </a>
    <!-- Top-right navigation -->
    <div>
      {% if user.is_authenticated %}
      <p class="inline text-gray-800">Hello, {{ user.username }}!</p>
      <form action="{% url 'myapp:logout' %}" method="POST" class="inline">
        {% csrf_token %}
        <button type="submit" class="ml-4 text-blue-500 hover:underline">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'myapp:login' %}" class="text-blue-500 hover:underline"> Login </a>
      <a href="{% url 'myapp:register' %}" class="ml-4 text-blue-500 hover:underline"> Register </a>
      {% endif %}
    </div>
  </div>

  <form method="get" action="{% url 'myapp:home' %}" class="flex flex-col space-y-4 p-8 bg-gray-100">
    <!-- Pretraživač -->
    <input
        type="text"
        name="q"
        value="{{ query|default:'' }}"
        placeholder="Search projects by name or description"
        class="block w-full p-2 border rounded-lg focus:ring focus:ring-blue-300"
    />

    <!-- Filter po statusu projekta -->
    <select name="status" class="p-2 border rounded-lg">
        <option value="">All Project Statuses</option>
        <option value="ongoing" {% if project_status == 'ongoing' %}selected{% endif %}>Ongoing</option>
        <option value="completed" {% if project_status == 'completed' %}selected{% endif %}>Completed</option>
    </select>

    <!-- Filter po ulozi -->
    <select name="role" class="p-2 border rounded-lg">
        <option value="">All Roles</option>
        <option value="owner" {% if role == 'owner' %}selected{% endif %}>Owner</option>
        <option value="viewer" {% if role == 'viewer' %}selected{% endif %}>Viewer</option>
    </select>

    <!-- Submit dugme -->
    <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
    >
        Search
    </button>
</form>


  <!-- Main content -->
  <div class="p-8">
    {% if user.is_authenticated %}
    <h1 class="text-xl font-bold mb-4 mt-5 lg:mt-0">Welcome to FreelanceFlow!</h1>

    <!-- Create project button -->
    <div class="fixed bottom-0 z-50 right-0 m-5">
      <a
        href="{% url 'myapp:create_project' %}"
        class="flex items-center bg-blue-500 text-white p-2 rounded-full shadow-lg hover:bg-blue-700"
        title="Create New Project"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M12 4a1 1 0 011 1v6h6a1 1 0 110 2h-6v6a1 1 0 11-2 0v-6H5a1 1 0 110-2h6V5a1 1 0 011-1z"
          />
        </svg>
      </a>
    </div>

    <!-- List of Projects -->
    <h2 class="text-lg font-semibold mb-4 mt-10">Your Projects</h2>
    {% if projects %}
    <ul class="space-y-4">
      {% for project in projects %}
      <li class="group relative">
        <!-- Project Container -->
        <div
          onclick="window.location.href='{% url 'myapp:project_details' project.project_id %}'"
          class="hover: cursor-pointer relative z-10 p-4 space-x-20 border rounded-2xl bg-white shadow flex flex-row justify-between transition-all duration-300 ease-in-out group-hover:w-7/8"
        >
          <!-- Left column -->
          <div class="flex-1 text-left">
            <h3 class="text-lg font-semibold cursor-pointer">
              {{ project.project_name }}
            </h3>
            <p class="text-gray-600">{{ project.project_description }}</p>

            <!-- Progress bar -->
            <div class="mt-2">
              <div class="w-full bg-gray-300 rounded-full h-4">
                <div
                  class="bg-blue-500 h-4 rounded-full"
                  style="width: {{ project.calculate_progress }}%;"
                ></div>
              </div>
              <p class="text-sm text-gray-500 mt-1">
                Progress: {{ project.calculate_progress|floatformat:1 }}%
              </p>
            </div>

            <!-- Role and Owner -->
            <p class="text-sm mt-2">
              Role: {% if project.owner == user %}
              <span class="font-semibold">Owner</span>
              {% else %}
              <span class="font-semibold">Viewer</span>
              <br />
              <span class="text-gray-600 text-sm">Owner: <span class="font-semibold">{{ project.owner.username }}</span></span>
              {% endif %}
            </p>

            <p class="text-sm mt-2">
              <span>Deadline: {{project.project_deadline}}</span>
            </p>
          </div>

          <!-- Right column -->
          {% if project.owner == user %}
          <div class="flex flex-col items-center justify-between z-10">
            <!-- Edit icon -->
            <a
              href="{% url 'myapp:edit_project' project.project_id %}"
              class="text-blue-500 hover:text-blue-700"
              title="Edit Project"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M17.414 2.586a2 2 0 010 2.828l-10 10a2 2 0 01-.828.414l-4 1a1 1 0 01-1.265-1.265l1-4a2 2 0 01.414-.828l10-10a2 2 0 012.828 0zm-2.121 2.121l-10 10-.293.293-.293 1.172 1.172-.293.293-.293 10-10L15.293 4.707z"
                />
              </svg>
            </a>

            <!-- Delete icon -->
            <svg
              onclick="deleteProject(event, {{ project.project_id }})"
              class="h-6 w-6 text-red-600 hover:text-red-800 cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M6 19a2 2 0 002 2h8a2 2 0 002-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text-gray-700">You have no projects to display.</p>
    {% endif %} {% else %}
    <h1 class="text-xl font-bold">Please log in to access your projects.</h1>
    {% endif %}
  </div>
</div>

<script>
  function deleteProject(event, projectId) {
    // Prevent navigation to project details
    event.stopPropagation();

    if (confirm("Are you sure you want to delete this project?")) {
      window.location.href = `{% url 'myapp:delete_project' %}?id=${projectId}`;
    }
  }
</script>
{% endblock %}